<mat-card class="mat-card mat-elevation-z5" fxLayout="row" flexLayoutAlign="space-between center">
  <div class="month-selection-area" fxFlex="1 1 auto" fxLayout="row">
    <div class="select-month-title">Select Month</div>

    <mat-form-field class="form-control" appearance="outline">
      <mat-select [formControl]="monthSelectionControl">
        <mat-option *ngFor="let monthItem of monthSelection" [value]="monthItem.value">
          {{monthItem.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="create-button-area">
    <button mat-stroked-button (click)="openAppointmentFormDialog()"> Create Appointment</button>
  </div>
</mat-card>
